.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  padding-bottom: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #690090;
}

.Carlossr404{
  font-weight: bold;
  font-size: xx-large;
  text-align: left;
}

.App-header-right{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-content: right;
  font-size: xx-large;
}

.icon{
  padding-left: 10%;
  color: white;
}

.App-link {
  color: #61dafb;
}

.home{
  background-image: url('../public/imgs/background_img.jpg');
  background-size: cover;
  padding-left: 2.5vmin;
  padding-right: 2.5vmin;
  padding-bottom: 5%;
  padding-top: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic{
  width: 320px;
  height: 320px;
  border-radius: 50%;
}

.name{
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  font-style: italic;
  font-size: 50px;
  font-family: 'Brush Script MT', cursive;
}

.home-text {
  text-align: center;
  padding-bottom: 2.5%;
}

.bio{
  display: flex;
  flex-direction: row;
  padding-top: 2.5%;
  padding-bottom: 5%;
}

.bio-img{
  padding-top: 2.5%;
  margin-left: 10%;
  width: 270px;
  height: 480px;
}

.bio-text{
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: calc(8px + 2vmin);
  padding-left: 5%;
  padding-right: 5%;
}

.Carousel-image {
  width: 100vmin;
  height: 40vmin;
}

.bio-heading {
  padding-bottom: 2.5%;
}

.section-heading{
  padding-left: 1%;
}

.experience-block {
  justify-content: left;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.experience-img {
  justify-content: center;
}

.pub{
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
  padding-left: 2.5%;
}

.pub-section {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.pub-img-section{
  display: flex;
  flex-direction: row;
}

.pub-img{
  width: 150px;
  height: 150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
